:root {
  --calc-width: 350px;
  --calc-height: 600px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calcBorder {
  height: 100vh;
  width: var(--calc-width);
  height: var(--calc-height);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid rgb(2, 24, 2);
  border-radius: 8px;
}

.display {
  background-color: azure;
  height: 80px;
  font-size: 75px;
  text-align: right;
  width: var(--calc-width);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 8px;
}

.display>* {
  margin-right: 20px;
}

.buttons {
  display: grid;
  background-color: orchid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  gap: 3px;
  height: var(--calc-width);
  width: var(--calc-width);
  border-top: 3px solid orchid;
}

.buttons>* {
  background-color: palegreen;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  border-radius: 5px;
  cursor: pointer;
}

.buttons>*:hover {
  background-color: rgb(211, 131, 208);
  /* color: palegreen; */
}